$darkText: #50576a;
$back3: #abb8e5;

html, body, #render-target {
  padding: 0;
  margin: 0;
  background-color: #e6efff;
}

li {
  list-style: none;
}

.navbar {
  background-color: #abb8e5;
}

.navbar h1 {
  margin: 0;
  padding: 0.5rem 1rem;
  font-weight: normal;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

.navbar a {
  color: inherit;
  text-decoration: none;
}

.contacts-list {
  display: grid;
  grid-gap: 1rem;
  margin: 2rem 0;
}

.contacts-list .contact-page {
  background-color: #ced6fa;
  list-style: none;
  padding: 1rem;
  color: #50576a;
  font-family: Arial, Helvetica, sans-serif;
}

.contacts-list .contact-page h2 {
  font-size: 1.3rem;
  font-weight: normal;
  display: grid;
  grid-gap: 0.7rem;
}

.name {
  grid-column-end: 2;
  grid-row-start: 1;
}

.last-contact{
  font-size: 1rem;
  background-color: #abb8e5;
}

.last-contact {
  display: grid;
  padding: 1rem;
}

.last-contact-label {
  grid-column-end: 2;
}

.last-contact-data {
  grid-column-start: 2;
  grid-row-start: 1;
  justify-self: end;
}

.contact-page ul {
  padding: 0;
}

.details h3 {
  font-weight: normal;
  font-size: 1.1rem;
  margin-bottom: 0.1rem;
}

.details hr {
  color: $back3;
  border: none;
  border-top: 1px solid $back3;
}